.Button{
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #1c1c1c;

    border-radius: 5px;
    border: 1px solid #333;
    background-color: lightgreen;
    transition: filter 0.2s;
}
.Button:hover {
    filter: brightness(0.9);
}