.newproject_container {
    width: 60%;
    /* background-color: red; */
    /* margin: 0 auto; */
    padding: 3rem;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
   
} 

.newproject_container h1{
    margin-bottom: 0.5rem;
}

.newproject_container p{
    color: #7b7b7b;
}