.projectDetails{
    padding: 2rem;
    max-width: 1024px;
}
@media (max-width:800px) {
    .projectDetails{
        max-width: 500px;
    }
}

.projectDetails h1,
.projectDetails h2,
.projectDetails p {
    margin-bottom: 0.5rem;
}

.projectDetails h1 {
    background-color: #222;
    color: #ffbb33;
    padding: 0.4rem;
}

.projectDetails span {
    font-weight: bold;
}

.detailsContainer,
.detailsFormContainer {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;

    cursor: pointer;
    max-height: 40px;
    border: none;

    transition: 0.5s;
}

.btn:hover{
    color: #ffbb33;
}

.projectInfo{
    width: 70%;
}