.headerCadastro {
    background: rgb(233, 230, 230);
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.headerCadastro .itemHeaderCadastro {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.headerCadastro .itemHeaderCadastro h1 {
    /* display: block; */
    font-size: 30px;
    font-weight:100;
    margin-bottom: 0;
}

.headerCadastro .itemHeaderCadastro p {
    font-size: 12px;
    font-weight: 200;
}

.formMain {
    margin-top: 20px;
    display: flex;
    background-color: white;
    height: 300px;
    border: none;
}

.formMain .form {
    width: 40%;
    /* background-color: rgb(240, 249, 240); */
    border: none;
}

.formMain .list {
    padding-top: 15px;
    width: 60%;
    /* background-color: rgb(229, 239, 245); */
    background-color: rgb(240, 249, 240);
    border: none;
}



.formMain .list h1{
    font-size: 20px;
    font-weight: 400;
}