.containerForm {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.containerForm h1{
    font-size: 20px;
    font-weight: 400;
}

.containerForm .group_input{
    display: flex;
    align-items: baseline;

    width: 100%;
    /* background-color: green; */
    /* padding: 5px; */
    margin-bottom: 10px;
    padding-right: 10px;
}
.containerForm .group_input span {
    height: 25px;
    /* color: red; */
    padding-right: 3px;
    padding-bottom: 4px;
    padding-left: 3px;
    background-color: rgb(197, 189, 189);
    margin-right: 5px;
}
.containerForm .group_input span svg {
    padding: 1px;
}

.containerForm .group_input input {
    /* flex: 1; */
    /* width: 20px; */
    /* height: 20px; */
    /* color: #000; */
    /* background-color: hotpink; */
    /* height: 20px; */
    font-size: 12px;
    width: 100%;
    border-radius: 0;
    border: none;
    border-top: 1px solid #625959;
    background-color: rgb(233, 230, 230);
}
.containerForm .group_input input::placeholder {
    color: #7b7b7b;
    font-size: 10px;
}
.containerForm .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* .containerForm .group  */