.navbar {
    display: flex;
    justify-content: space-between;
    background: #222;

    padding: 1rem;
    height: 100px;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    margin-right: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    color: #ffbb33;
}


